/* General styles */
body {
  font-family: Arial, sans-serif;
}

.timer {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  padding: 0;
}

.field {
  text-align: center;
  margin: 0 10px;
}

.value {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.label {
  font-size: 14px;
  color: gray;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input input[type="text"] {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
  width: 190px;
}

.input button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 90px;
}
/* General styles */
body {
  font-family: Arial, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: auto;
}

fieldset {
  display: flex;
  gap: 10px;
}

legend {
  font-size: 1.2em;
  margin-bottom: 5px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  /* 100% width to fill the form container */
}