body {

    font-family: Arial, sans-serif;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
    width: 190px;
    margin-left: 10px;
    margin-top: 10px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 90px;
}

.timer {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    padding: 0;

}

.field {
    text-align: center;
    margin: 0 10px;
}

.value {
    font-size: 40px;
    display: flex;
    justify-content: center;

}

.label {
    font-size: 14px;
    color: gray;
}